<script type="text/javascript" charset="utf-8">  
  $('document').ready(function(){
      
  });  
</script>

  <div class="event-title "><h1>Events</h1></div>
  <div id="event-content">
    <% @events.each do |event| %>
      <div class='event-table-cell'>
        <div id="title"><%= link_to event.title, event %></div>
        <div id="description"><%= event.description %></div>
        <div id='details'>
        <div id="location"><label>Where</label><%= event.location %></div>
        <div id="start-time"><label>Starts</label><%= event.start_time_utc.localtime.to_formatted_s(:short) %></div>
        <div id="end-time"><label>Ends</label><%= event.end_time_utc.localtime.to_formatted_s(:short) %></div>
        </div>
      </div>
    <% end %>

  </div>        




