<p id="notice"><%= notice %></p>

<p>
  <b>Nickname:</b>
  <%= @vote.nickname %>
</p>

<p>
  <b>Browser:</b>
  <%= @vote.browser %>
</p>

<p>
  <b>Browser:</b>
  <%= @vote.browser %>
</p>

<p>
  <b>Browser version:</b>
  <%= @vote.browser_version %>
</p>

<p>
  <b>Operating system:</b>
  <%= @vote.operating_system %>
</p>

<p>
  <b>Os version:</b>
  <%= @vote.os_version %>
</p>

<p>
  <b>Rating:</b>
  <%= @vote.rating %>
</p>

<p>
  <b>Created at:</b>
  <%= @vote.created_at %>
</p>


<%= link_to 'Edit', edit_event_vote_path(@event, @vote) %> |
<%= link_to 'Back', event_votes_path(@event) %>
